<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>API Jikan</title></head>
<body>

    <div class="nom_anime">
        <!-- Recherche des animés précis -->
        <h4> <div id="nom_user">  </div> </h4>
        <h3> Saisir le nom de l'animé : &nbsp;  <input id="nom"  required> &nbsp; &nbsp; &nbsp; <button class="btn_name" type="button"  (click)="searchAnime();"> Rechercher </button> </h3>
    </div>

    <div class="top_anime">
        <!-- Recherche des meilleurs animés -->
        <h4> <div id="top_user">  </div> </h4>
        <h3> Le top du top : &nbsp;  <button class="btn_top" type="button"  (click)="topAnime();"> Rechercher </button> </h3>
    </div>

    <div class="suggestion_anime">
        <!-- Recherche des recommendations -->
        <h4> <div id="sug_user">  </div> </h4>
        <h3> Liste de suggestion : &nbsp; <button class="btn_suggestion" type="button"  (click)="newAnimes();"> Rechercher </button> </h3>
    </div>

    <div class="date_anime">
        <!-- Recherche des animés par date de sortie -->
        <h4> <div id="date_user">  </div> </h4>
        <h3> Animés par date de sortie (année - saison) : &nbsp;  <input id="annee"  required> &nbsp; &nbsp; &nbsp; <input id="saison"  required> &nbsp; &nbsp; &nbsp; <button class="btn_top" type="button"  (click)="animeByDate();"> Rechercher </button> </h3>
    </div>

    <div class="container">
        <div class="row">
          <div id="anim_1" class="col"></div>
          <div id="anim_2" class="col"></div>
        </div>
        <div class="row">
          <div id="anim_3" class="col"></div>
          <div id="anim_4" class="col"></div>
        </div>
        <div class="row">
          <div id="anim_5" class="col"></div>
          <div id="anim_6" class="col"></div>
        </div>
        <div class="row">
          <div id="anim_7" class="col"></div>
          <div id="anim_8" class="col"></div>
        </div>
      </div>

    <app-liste-anime></app-liste-anime>
</body>
</html>
